/node_modules
/public/hot
/public/storage

/storage/app
/storage/settings

/storage/framework
/bootstrap/cache
/storage/*.key
/storage/settings/
/vendor

/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
composer.lock
/package-lock.json
/public/appointment_image
public/patient_image/
public/pdf_download/
/resources/lang/backup/*
/public/audit2020_consultancy
/public/audit2020_treatment
/phpMyAdmin

