.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container{
    max-width: 1400px;
}
.invontry_form_step.wizard.wizard-4 .wizard-nav .wizard-steps .wizard-step {
	flex: 0 0 calc(15.8% - 0.25rem);
	width: calc(15.8% - 0.25rem);
}
.invontry_form_step.wizard.wizard-4 .wizard-nav .wizard-steps .wizard-step .wizard-wrapper{
    padding:1.4rem 1.4rem;
}
.invontry_form_step.wizard.wizard-4 .wizard-nav .wizard-steps .wizard-step .wizard-wrapper .wizard-number{
    margin-right: .7em;
    flex: 0 0 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
}
.form-group .select2.select2-container{
    width: 100% !important;
}