.font-icon {
    font-size: 18px;
}
.font-icon:hover {
    color: #3699FF;
}
.user-popup {

    z-index: 105;
    position: fixed;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate(-30px, 65px);

}

.menu-sub-dropdown.menu.show, .menu-sub-dropdown.show[data-popper-placement], .show.menu-dropdown>.menu-sub-dropdown {
    display: flex;
    animation: menu-sub-dropdown-animation-fade-in .3s ease 1,menu-sub-dropdown-animation-move-up .3s ease 1;
}
.menu-sub {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
}
.menu, .menu-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.fw-bolder {
    font-weight: 600!important;
    padding-left: 20px;
}
.fs-5 {
    font-size: 1.15rem !important;
}

.fw-bold {
    font-weight: 500 !important;
    font-size: 14px;
    color: #000;
    padding-left: 20px;
}
.fs-6 {
    font-size: 1.075rem !important;
}
.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.w-275px {
    width: 275px !important;
}

.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}

.menu-sub-dropdown {
    border-radius: 0.475rem;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
}

.menu-item .menu-content {
    padding: 0.65rem 1rem;
}
.px-3 {
    padding-right: 0.75rem!important;
    padding-left: 0.75rem!important;
}
.align-items-center {
    align-items: center!important;
}

.menu-gray-800 .menu-item .menu-link {
    color: #3f4254;
}
.menu-rounded .menu-link {
    border-radius: 0.475rem;
}
.menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: 0!important;
}
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
}

.swal2-validation-message {
    display: none;
}

.modal-content {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.2);
    border-radius: 0.475rem;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
    outline: 0;
}
.is-invalid {
    border-color: #F64E60 !important;
    background-image: none !important;
}
.is-valid {
    background-image: none !important;
}

.form-popup {
    max-width: 700px;
}
.select2-container{
    width: 100% !important;
}
.select2-selection {
    background-color: #F3F6F9 !important;
    border-color: #F3F6F9!important;
}

.svg-icon svg {
    height: 20px !important;
    width: 20px !important;
}
.select2-is-invalid {
    border-radius: 6px !important;
    border: 1px solid !important;
    border-color: #F64E60 !important;
}
.select2-selection, input {
    min-height: 45px !important;
    /*border: 2px solid #F3F6F9 !important;
    background-color: #fff !important;*/
}
.input-group-addon {
    padding: 11px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    white-space: nowrap;
    display: table-cell;
    margin: -51px 0px 0px 0px;
    min-height: 43px;
}
.commsion-percent {
    margin: -39px 0px 0px 0px !important;
    min-height: 39px !important;
}
.label-inline {
    height: auto !important;
    padding: 5px 5px 5px 5px !important;
}
.advance-filters {
  /*  margin-top: -40px;*/
}
.select2-selection__choice {
    background: #e6eaef !important;
}

.fw-bolder {
    margin-top: 10px;
}
.input-group-append, .input-group-text {
    height: 45px !important;
}
.popup-percentage {
    border-left: 1px solid #E4E6EF;
}
.percentage-align {
    float: right;
    margin-top: -45px;
}
.permission_checkbox {
    width: 23%;
    margin-bottom: 20px !important;
}
